 body {
            font-family: 'Roboto', sans-serif;
        }
        .bg-hero {
            background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('/assets/img/logo.webp') no-repeat center center/cover;
        }
        .bg-modalidade {
            transition: transform 0.3s ease;
        }
        .bg-modalidade:hover {
            transform: scale(1.05);
        }
        .nav-link {
            position: relative;
            transition: color 0.3s ease;
        }
        .nav-link::after {
            content: '';
            position: absolute;
            width: 0;
            height: 2px;
            bottom: -4px;
            left: 50%;
            transform: translateX(-50%);
            background-color: #dc2626; /* red-600 */
            transition: width 0.3s ease;
        }
        .nav-link:hover::after {
            width: 100%;
        }